<section class="text-gray-600 body-font">
  <div class="container px-5 py-5 mx-auto flex flex-wrap">
    <div class="flex flex-wrap w-full">
      <div class="flex flex-col w-full">
        <div class="h-1 bg-gray-200 rounded overflow-hidden">
          <div class="w-24 h-full bg-yellow-200"></div>
        </div>
        <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
          <h1 class="sm:w-2/5 text-gray-900 font-medium title-font sm:text-3xl text-2xl mb-2 sm:mb-0">일본군‘위안부’연구회 연혁</h1>
          <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0"></p>
        </div>
      </div>
      <div class="lg:w-3/5 md:w-1/2 md:pr-10 md:py-6">
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-yellow-200 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-xl text-gray-900 mb-1 tracking-wider">2021년</h2>
            <p class="leading-relaxed">2021.8. 김학순 공개증언 30주년 기념 국제학술대회 </p>
            <p class="leading-relaxed">2021.11. 정의기억연대 김학순상 수상 </p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-yellow-200 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-xl text-gray-900 mb-1 tracking-wider">2020년 </h2>
            <p class="leading-relaxed">2020.9. 국제심포지엄 <끌려간 사람들, 돌아오지 못한 사람들, 아직도 끝나지 않은 전쟁> </p>
            <p class="leading-relaxed">2020.12. 2000년 일본군성노예전범 국제법정 20주년 기념행사 및 국제학술대회 <2000년 여성국제법정의 공공 기억과 확산: 식민주의를 넘어서 미래세대를 향하여> </p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>          
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-yellow-200 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-xl text-gray-900 mb-1 tracking-wider">2019년</h2>
            <p class="leading-relaxed">2019.3. 심포지엄 <지역과 기억을 통해 본 일본군 성노예제></p>
            <p class="leading-relaxed">2019.5. 심포지엄 <기억의 지정학(Geopolitics) : 식민지와 일본군 위안소> </p>
            <p class="leading-relaxed">2019.10. 심포지엄 <지역에서 바라본 일본군 성노예제와 과거사 반성 : 책임의 자리와 공동체의 윤리></p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>          
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-yellow-200 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-xl text-gray-900 mb-1 tracking-wider">2018년 </h2>
            <p class="leading-relaxed">2018.2. 한일공동워크숍 <한일 미군기지와 성매매 : 역사와 정책></p>
            <p class="leading-relaxed">2018.4. 국제심포지엄 <일본군‘위안부’ 문제 : 역사와 법> </p>
            <p class="leading-relaxed">2018.8. 국제심포지엄 <일본군‘위안부’ 문제와 ‘책임’></p>
            <p class="leading-relaxed">2018.9. 국제심포지엄 <일본군‘위안부’ 문제를 다시 묻는다 : 미야코, ‘아리랑비’, ‘여성들에게’ 건립 10주년의 의미와 과제></p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>          
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-yellow-200 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-xl text-gray-900 mb-1 tracking-wider">2017년</h2>
            <p class="leading-relaxed">2017.6. 한일심포지엄 <동아시아 시각에서 본 일본군‘위안부’ 문제 : 그 뿌리와 연속성></p>
          </div>
        </div>
        <div class="flex relative">        
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-yellow-200 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-xl text-gray-900 mb-1 tracking-wider">2016년</h2>
            <p class="leading-relaxed">2016.1. 일본군‘위안부’연구회 창립</p>
          </div>
        </div>                        
      </div>
    </div>
  </div>
</section>