<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-gray-200 rounded overflow-hidden">
        <div class="w-24 h-full bg-yellow-200"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1 class="sm:w-2/5 text-gray-900 font-medium title-font sm:text-3xl text-2xl mb-2 sm:mb-0">이사진</h1>
        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0"></p>
      </div>
    </div>
    <div class="flex flex-wrap -m-12">
      <div class="p-12 md:w-2/3 flex flex-col items-start text-gray-900">
        <span class="inline-block py-1 px-2 rounded bg-yellow-50 text-yellow-500 text-xs font-medium tracking-widest">일본군‘위안부’연구회 8기 이사회(2025년 3월 1일)</span>
        <h2 class="sm:text-3xl text-2xl title-font font-medium mt-4 mb-8">회장 : 황선익 (국민대 한국역사학과)</h2>
        <p class="leading-relaxed pl-8 mb-8 text-lg">
          부회장(1) : 이정선 (조선대 역사문화학과)<br><br>
          총무이사(2) : 김상규 (군사편찬연구소), 최성용 (성공회대 열림교양대학)<br><br>
          기획이사(3) : 이아리 (서울대 국사학과), 이지은 (서울대학교 인문학연구원), 장수희 (동아대 한국어문학과)<br><br>
          학술이사(6) : 공준환 (서울대 사회학과), 배지연 (대구대 인문과학연구소), 오승희 (국립외교원 외교안보연구소), 조민지 (가톨릭대 국사학과), 추주희(전북대 사회학과), 홍윤신 (일본 오키나와대학)<br><br>
          대외협력이사(3) : 임재성 (법무법인 해마루), 전다운 (법무법인 지향), 후루하시 아야 (일본 이와테대)<br><br>
          교육이사(3) : 이태준 (건국대 통일인문학연구단), 장소정 (정의기억연대), 최우영 (역사문제연구소)<br><br>
          편집이사(2) : 이민정 (서울대 외교학과), 전갑생 (성공회대 냉전평화연구센터)<br><br>
          간사(1) : 김효정 (국민대 국사학과)<br><br>
        </p>
        <h2 class="sm:text-2xl text-xl title-font font-medium mt-4 mb-4">감사</h2>
        <p class="leading-relaxed pl-8 mb-8 text-lg">
          감사(2) : 강성현(성공회대 동아시아연구소), 박정애 (동북아역사재단)<br><br>
        </p>
      </div>
      <div class="p-12 md:w-1/3 flex flex-col items-start">
        <span class="inline-block py-1 px-2 rounded bg-yellow-50 text-yellow-500 text-xs font-medium tracking-widest">이전 임원</span>
        <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">역대회장</h2>
        <p class="leading-relaxed pl-4 mb-8 text-lg">
          강성현(2023~2024)<br>
          김득중(2021~2022)<br>
          양현아(2018~2021)<br>
          김창록(2016~2018)<br>
          </p>
      </div>
    </div>
  </div>
</section>