{{ define "header" }}
  {{ partial "basic/header.html" . }}
{{ end }}

{{ define "main" }}
	<div class="flex flex-wrap -mb-4 md:mb-0 z-0">
		<div class="w-full h-full pb-48 mb-4 md:mb-0 bg-white dark:bg-gray-800">
			<section class="py-12 md:py-20 bg-yellow-200 dark:bg-blue-500">
			  <div class="container px-4 mx-auto">
			    <div class="relative w-full mb-8 lg:mb-0 text-center lg:text-left text-gray-900 dark:text-gray-800">
			      <h2 class="inline text-2xl md:text-3xl mb-4 font-bold font-heading">{{ .Title }}</h2>
			    </div>
			  </div>
			</section>
			<div class="bg-white rounded-lg">
				<article class="prose lg:prose-xl mx-auto mb-4 px-5 py-10 font-sans">
					<h1 class="text-4xl">
							{{ .Title }}
					</h1>
					<div class="mb-8">
            {{ if .Params.Image }}
            	<img class="w-full h-1/2" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}대표이미지">
            {{ end }}
          </div>
          {{ if .Params.article_materials }}
	          <h3 class="text-xl text-yellow-500 mb-8">
							첨부파일 : <button class="bg-gray-300 hover:bg-gray-500 text-white font-bold py-2 px-2 mt-8 rounded-md"><a href="{{ .Params.article_materials }}" download >링크 및 다운로드</a></button>	
						</h3>
					{{ end }}
					{{ .Content }}
          {{ if .Params.article_materials }}
	          <h3 class="text-xl text-yellow-500 mb-8">
							첨부파일 : <button class="bg-gray-300 hover:bg-gray-500 text-white font-bold py-2 px-2 mt-8 rounded-md"><a href="{{ .Params.article_materials }}" download >링크 및 다운로드</a></button>	
						</h3>
					{{ end }}	
				</article>
			</div>
		</div>
	</div>  
{{ end }}