{{ define "header" }}
  {{ partial "basic/header.html" . }}
{{ end }}

{{ define "main" }}
	<div class="flex flex-wrap -mb-4 md:mb-0">
		<div class="w-full h-full pt-5 pb-48 mb-4 md:mb-0 bg-gray-100 dark:bg-gray-800">
			<div class="bg-white rounded-lg">
				<article class="prose lg:prose-xl mx-auto mb-4 px-5 py-10 font-sans">
					<h1 class="text-4xl">
							{{ .Title }}
					</h1>
					<div class="mb-8">
            {{ if .Params.Image }}
            	<img class="w-full h-1/2" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}대표이미지">
            {{ end }}
          </div>
						{{ .Content }}
				</article>
			</div>
		</div>
	</div>  
{{ end }}