{{ define "header" }}
  {{ partial "basic/header.html" . }}
  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "6d585a7c2ebd49618aa6364c3ddd26aa"}'></script>
  <!-- End Cloudflare Web Analytics -->
  <!-- naver site verification-->
  <meta name="naver-site-verification" content="7ab07b01080ad6fa888a8169b0e30f1caeaccdd8" />
{{ end }}

{{ define "main" }}
  {{ partial "marketing/home-pinned.html" . }}
  {{ partial "marketing/list--post-nothumb" . }}
  {{ partial "marketing/list--post-thumb" . }}  
{{ end }}